<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>empList.html</title>
	<style>
		.odd {
			background-color: yellowgreen;
		}

		.trbold {
			font-weight: bold;
		}
	</style>
</head>

<body>
	<section layout:fragment="content">
		<!-- /* 타임리프 주석
	이렇게 달면 아예 태그 자체가 나오지 않게 됨! */-->

		<!--/* block -->
		<!-- <th:block th:each="emp : ${list}"> -->
		<!-- 	<span th:text="${emp.firstName}"></span> -->
		<!-- 	<span th:text="${emp.lastName}"></span> -->
		<!-- 	<br> -->
		<!-- </th:block> */-->

		<div>전체건수 : [[ ${ #lists.size(list) } ]]</div>
		<div th:text="${#lists.size(list)}">10</div>
    
    <table>
        <tr>
        	<th>No.</th>
            <th>employee_id</th>
            <th>name</th>
            <th>hire_date</th>
            <th>salary</th>
            <th>grade</th>
        </tr>
        <th:block th:each="emp : ${list}" >
	        <tr th:class="${empStat.odd} ? 'odd'" th:classappend="${empStat.first} ? 'trbold'">
	        	<td th:text="${empStat.count}">1</td>
	            <td><a th:href="@{info.do(employeeId=${emp.employeeId}, name=${emp.firstName})}" th:text="${emp.employeeId}">100</a></td>
	            <td th:text="|${emp.firstName} ${emp.lastName}|">Scott</td>
	            <td th:text="${#dates.format(emp.hireDate, 'yyyy/MM/dd HH:mm')}">2024-01-01</td>
	            <td th:text="${emp.salary}">1000</td>
	            
				<!-- if/else -->
	            <td th:if="${emp.salary}>10000" th:text="A">1000</td>
	            <td th:unless="${emp.salary}>10000" th:text="B">2000</td>
	        </tr>
        </th:block>
    </table>
    
    <hr>
	<!-- utext -->
	<div th:text="'<b>test</b>'"></div>
	<div th:utext="'<b>test</b>'"></div>
	<!-- Expression inlining -->
	<div>[[ ${ list[0].firstName } ]]</div>
	<div>[( ${ list[0].firstName } )]</div>
	<script th:inline="javascript">
		let emps = [[ ${list} ]]
	</script>
</section>
</body>

</html>